@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;1,400&display=swap');
*{
	margin: 0;
	padding: 0;
	font-family: 'Playfair Display', serif;
}
.header{
	background: #6900d1;
}
.navbar{
	padding-top: 20px !important;
}
.nav-item{
	margin-left: 40px;
	margin-bottom: 10px;
}
.nav-link{
	color: #fff !important;
	font-size: 12px !important;
	padding: 0 0 5px 0 !important;
	display: unset !important;
}
.navbar-brand{
	width: 125px;
}
.fa-bars{
	color: #fff;
	font-size: 40px !important;
}
.navbar-toggler{
	border: 0 !important;
	outline: none !important;
	padding: initial !important;
}
.active-home{
	border-bottom: 2px solid #fff;
}
.nav-link:hover{
	border-bottom: 2px solid #fff;
}
.banner{
	margin-top: 8%;
	color: #fff;
}
.banner h1{
	margin: 80px 0 50px;
	font-weight: 600;
	font-size: 50px;
}
.banner img{
	max-height: 450px;
}
.banner a{
	padding: 12px;
	width: 150px;
	display: inline block;
	background: #6900d1;
	text-decoration: none !important;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 5px;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	margin-top: 30px !important;
}
.banner a:hover{
	color: #fff;
}

.express-btn{
	background: #fff !important;
	color: #000 !important;
	margin-right: 5px;
}

/*----------services----*/
.services{
	margin: 75px 0;
}
.title{
	text-align: center;
	font-weight: bold;
	margin-bottom: 30px;
}
.subtitle{
	text-align: center;
	margin-bottom: 70px;
	font-size: 18px;
}
.service-box{
	padding: 0 35px;
	cursor: pointer;
	margin-bottom: 10px;
	transition: .6s;
}
.service-box img{
	width: 60px;
	margin-top: 65px;
	margin-bottom: 45px;
}
.service-box h6{
	margin-bottom: 40px;
	font-weight: bold;
}
.service-box p{
	font-size: 16px;
	color: #808080;
}
.fa-arrow-right{
	font-size: 22px !important;
	margin-top: 25px;
	margin-bottom: 35px;
	cursor: pointer;
}

.service-box:hover, .active-service{
	background: #6900d1;
	border-radius: 5px;
	color: #fff !important;
	box-shadow: 0 15px 15px 2px rgba(213,213,213,0.5);
}
.service-box:hover p{
	color: #fff !important;
}
.active-service p{
	color: #fff !important;
}
/*--feature---*/
.feature, .explore{
	margin: 200px 0;
}
.feature img{
	max-width: 77%;
	cursor: pointer;
}
.feature h2{
	margin-top: 80px;
	font-weight: bold;
	line-height: 50px;
}
.feature p, .explore p{
	margin-top: 30px;
	margin-bottom: 50px;
	color: #808080;
	font-size: 16px;
	line-height: 18px;
}
.feature a, .explore a{
	width: 120px;
	padding: 15px 10px;
	display: block;
	background: #6900d1;
	text-decoration: none;
	color: #fff;
	border-radius: 5px;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	box-shadow: 0 9px 9px 1px rgba(204,204,204,0.5)
}
.explore h2{
	margin-top: 50px;
	font-weight: bold;
	line-height: 50px;
}
/*--------review----------*/

.review{
	margin: 150px;
}
.carousel-item img{
	width: 180px;
	border-radius: 50%;
}

.carousel-item{
	text-align: center;
	height: 430px;
}
.carousel-caption{
	z-index: -1 !important;
	box-shadow: -40px 0 20px -40px rgba(189,189,189,0.5),40px 0 20px -40px rgba(189,189,189,0.5);
    border-radius: 5px;
    margin-bottom: 50px;
}
.carousel-caption h6{
	margin-top: 55px;
	font-weight: bold;
    color: #000 !important;
}
.carousel-caption small{
	margin-top: 10px;
	margin-bottom: 50px;
	display: block;
    color: #000 !important;
}
.carousel-caption p{
	text-align: center;
	padding: 0 50px;
	font-size: 15px;
	color: #808080 !important;
}
.carousel-indicators li{
	background-color: #6900d1 !important;
}

@media only screen and (max-width: 800px){
	.carousel-item{
	height: 520px;
   }
   .carousel-caption{
   	margin: 0 10px 50px 10px;
   	left: 0 !important;
   	right: 0 !important;
   }
}



/*--footer------*/
.footer{
	background: #6900d1;
	padding-top: 10px;
}

.footer h2{
	color: #fff;
	font-weight: 600; 
	margin: 70px 0;
}
.footer input{
	width: 60%;
	background: transparent;
	outline: none !important;
	border-bottom: 1px solid #fff;
	padding: 10px;
	color: #fff;
	margin-bottom: 30px;
	text-align: center;
}
::placeholder{
	color: #efefef;
	font-size: 16px;
}
.footer button{
	padding: 6px;
	width: 180px;
	margin: auto;
	display: block;
	color: #fff;
	border: 2px solid #fff;
	font-size: 20px;
	background: transparent;
}
.footer small{
	padding-top: 20px;
	font-size: 14px
	padding:70px;
	padding-bottom: 20px;
	color: #fff;
	display: block;
}